.App {
  padding: 5em;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-logo {
  height: 60px;
}

.App-text-header {
  font-family: Quicksand;
  font-weight: 600;
  text-align: left;
  color: "#FFFEFE";
}

.App-header {
  background-color: #222;
  display: flex;
  color: white;
  margin-bottom: 1em;
  width: 100%;
}

.App-toolbar {
  display: flex;
  justify-content: space-between;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  padding: 1px;
  width: 20%;
}
.title {
  text-align: "center";
  padding: "0.25em";
}
.datacontent {
  display: "flex";
  justify-content: "center";
  border-radius: "0.25em";
  background-color: "#cecece";
  margin-bottom: "1rem";
}
.resetbutton {
  margin: "auto";
  display: "block";
}
.demoform {
  margin: "auto";
  padding: 1px;
}
