.App {
  text-align: center;
  margin-bottom: 0.5em;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #222;
  height: 180px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.container: {
  padding: "1em";
  width: "100%";
}
.title: {
  text-align: "center";
  padding: "0.25em";
}
.datacontent: {
  display: "flex";
  justify-content: "center";
  border-radius: "0.25em";
  background-color: "#cecece";
  margin-bottom: "1rem";
}
.resetbutton: {
  margin: "auto";
  display: "block";
}
.demoform: {
  margin: "auto";
  padding: "1rem";
}
